%p#notice= notice
%h1 THIS IS THE USER'S HOMEPAGE
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Games won:
  = @user.games_won
%p
  %b Games lost:
  = @user.games_lost
= link_to 'PLAY GAME', new_game_path
|
\#{link_to 'Edit', edit_user_path(@user)} |
\#{link_to 'Back', users_path}

/ ************************************
/ <p id="notice"><%= notice %></p>

/ <h1>THIS IS THE USER'S HOMEPAGE</h1>

/ <p>
/   <b>Email:</b>
/   <%= @user.email %>
/ </p>

/ <p>
/   <b>Password:</b>
/   <%= @user.password %>
/ </p>

/ <p>
/   <b>Games won:</b>
/   <%= @user.games_won %>
/ </p>

/ <p>
/   <b>Games lost:</b>
/   <%= @user.games_lost %>
/ </p>

/ <%= link_to 'PLAY GAME', new_game_path %> |
/ <%= link_to 'Edit', edit_user_path(@user) %> |
/ <%= link_to 'Back', users_path %>
