<!DOCTYPE html>
<html>
<head>
  <title>Tictactoe2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
  <% end %>

    <% if current_user %>
    <p>hello <%= current_user.email %></p>
  <% end %>

  <nav>
    <%=link_to 'users', users_path %> |
    <%=link_to 'games', games_path %> |
    <%=link_to 'moves', moves_path %> |
</nav>

<%= yield %>

</body>
</html>
