<!DOCTYPE html>
<html>
<head>
  <title>Tictactoe2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
  <% end %>

    <% if current_user %>
    <p>hello <%= current_user.email %></p>
    <%= link_to "log out", logout_path %>
    <%else%>
    <%= link_to "log in", new_session_path %>
    <%= link_to "sign up", new_user_path %>
  <% end %>

<% if current_user && current_user.role == "admin" %>
    You're the boss ! you have access to all the secrets
  <% elsif current_user && current_user.role == "user" %>
    You can't access everything because you're a simple user 
  <% end %>

  <nav>
    <%=link_to 'users', users_path %> |
    <%=link_to 'games', games_path %> |
    <%=link_to 'moves', moves_path %> |
</nav>

<%= yield %>

</body>
</html>
