<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- TABLE -->
<!-- TABLE CSS: -->

<table align="center">
  <tr>
    <td>a1</td>
    <td>a2</td> 
    <td>a3</td>
  </tr>
  <tr>
    <td>b1</td>
    <td>b2</td> 
    <td>b3</td>
  </tr>
  <tr>
    <td>c1</td>
    <td>c2</td> 
    <td>c3</td>
  </tr>
</table>



  <div class="field">
    <%= f.label :game_title %><br />
    <%= f.text_field :game_title %>
  </div>
  <div class="field">
    <%= f.label :player_1 %><br />
    <%= f.text_field :player_1 %>
  </div>
  <div class="field">
    <%= f.label :player_2 %><br />
    <%= f.text_field :player_2 %>
  </div>
  <div class="field">
    <%= f.label :game_complete %><br />
    <%= f.text_field :game_complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
