<p id="notice"><%= notice %></p>
<h1>GAME PLAY PAGE</h1>
<!-- <p>
  <b>User:</b>
  <%#= @game.user_id %>
</p> -->

<p>
  <b>Game title:</b>
  <%= @game.game_title %>
</p>

<p>
  <b>Player 1:</b>
  <%= @game.player_1 %>
</p>

<p>
  <b>Player 2:</b>
  <%= @game.player_2 %>
</p>

<p>
  <b>Player<%= @player_1 %>, it's your turn</b>
</p>

<p>
  <b>Game complete:</b>
  <%= @game.game_complete %>
</p>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<br>
<br>





<div class='boxes'>
  <% @board.each_with_index do |move, square_id| %>
  <% if move == 'X' %>
    <%= image_tag('alien.jpg', class: 'square') %>
   <!--  *define class for css -->
    <% elsif move == 'O'%>
      <%= image_tag('rocket.jpeg', class: 'square') %>
      <% else %>
          <%= link_to " ", new_game_move_path(@game, square_id: square_id),  class: 'square'%>
    <% end %>
  <% end %>
</div>


