%p#notice= notice
%p
  %b User:
  = @move.user_id
%p
  %b Symbol:
  = @move.symbol
%p
  %b Game:
  = @move.game_id
= link_to 'Edit', edit_move_path(@move)
|
\#{link_to 'Back', moves_path}

/ ************************************
/ <p id="notice"><%= notice %></p>

/ <p>
/   <b>User:</b>
/   <%= @move.user_id %>
/ </p>

/ <p>
/   <b>Symbol:</b>
/   <%= @move.symbol %>
/ </p>

/ <p>
/   <b>Game:</b>
/   <%= @move.game_id %>
/ </p>


/ <%= link_to 'Edit', edit_move_path(@move) %> |
/ <%= link_to 'Back', moves_path %>
